@font-face {font-family: HelveticaNeue; src: url("../fonts/HelveticaNeue.otf");}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
	font-size: 1em;
}

.aligntext {
	text-align: center;
}


/* Para uso em scripts */
.transition-1{
    transition: 200ms;
}

.transition-2{
    transition: 700ms;
}

.offset {
    transform: translateY(-100%);
}

.offset-2 {
    transform: translateX(-100%);
}

.section-fade{
    opacity: 0;
}
/* Para uso em scripts */


/**Header**/

.header {
	position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

/** Main **/

.menu-mobile {
    display: none;
}

.introducao {
    width: 100%;
    height: 700px;
	background-image: url("../img/estaiada.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.logo img {
	width: 6%;
    margin-top: 27px;
}

.logo .menu-desktop {
	position: fixed;
}

.menu-desktop {
	float: right;
}

.menu-desktop a {
	text-decoration: none;
	color: #fff;
}

.menu-desktop ul {
	list-style: none;
	margin-top: 32px;
}

.menu-desktop ul li {
	display: inline-block;
	margin-right: 28px;
}

.intro {
	color: #fff;
	font-size: 2.5em;
	font-weight: 700;
	margin-top: 174px;
	clear: both;
    font-variant: small-caps;
    z-index: 2;
    position: relative;
}

.intro span {
	font-size: 0.7em;
}


.btn {
	width: 270px;
	height: 38px;
	margin-top: 45px;
	border-radius: 50px;
	float: left;
	font-weight: bold;
	background-color: #E3C94F;
	color: #fff;
	border:none;
	font-size: 1.2em;
	font-variant: small-caps;
	cursor: pointer;
}

/**Sobre**/

.sobre {
	width: 100%;
	height: 1666px;
	background-image: url("../img/sobre.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -2;
	float: left;
}	

.text {
	color: #fff;
	margin-top: 30px;
	line-height: 1.5;
	position: relative;
	z-index: 2;
}

.isotipo {
	width: 50%;
    opacity: 0.1;
    float: right;
    position: absolute;
    top: 77px;
    right: 70px;
    z-index: 1;
    
}

.video {
    width: 450px;
    height: 253px;
    position: relative;
    z-index: 3;
    float: right;
    margin-top: 35px;
    border: 2px solid #e3c94f;

}

/**O que fazemos**/

.lista-servicos {
	margin-top: 100px;
	z-index: 3;
    position: relative;

}

.icones-servicos img {
    width: 27%;
    float: left;
    margin-top: 40px;
    z-index: 2;

}

.legendas {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
}

.list {
    color: #fff;
    float: left;
    margin-top: 20px;
    margin-left: 14px;
    line-height: 1.8;
    font-size: 0.8em;
}

.margin-list {
	margin-left: 80px;
}

.btn-center {
    width: 270px;
    height: 38px;
    border-radius: 50px;
    font-weight: bold;
    background-color: #E3C94F;
    color: #fff;
    border: none;
    font-size: 1.2em;
    font-variant: small-caps;
    cursor: pointer;
    text-align: center;
    margin: 50px auto 0 auto;
    display: block;
    position: relative;
    z-index: 4;
}


/**CITs**/

.cits {
	width: 100%;
	height: 800px;
	background-image: url("../img/cits.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

.cits .btn-center {
    margin-top: 76px;
}

.legendas-cits {
    color: #fff;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 0.7em;
    text-align: center;
}

/**Roteiros**/

.roteiros {
	width: 100%;
	height: 878px;
	background-image: url("../img/roteiros.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

.box-roteiro {
	border: 1px solid #ffff;
    padding: 20px;
    border-radius: 26px;
    margin-left:40px;
}

.thumb-roteiro {
	float: left;
	margin-right: 12px;
}

.legendas-roteiro {
	color: #fff;
    font-weight: 700;
    font-size: 0.9em;
    float: left;
}

.roteiros li:nth-child(3), .roteiros li:nth-child(4) {
	margin-top: 20px;
}

/**Contato**/

.contato {
	width: 100%;
	height: 878px;
	background-image: url("../img/contato.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

.info-contato {
	margin: 20px auto 0 auto;
    width: 410px;
    height: 74px;
}

.call {
    background-image: url(../img/call.png);
    background-repeat: no-repeat;
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
}

.text-tel {
	color: #fff;
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: 700;
    float: left;
}

.email {
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    float: left;
    clear: both;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
}

.maps {
	text-align: center;
}

.text-maps {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
    position: relative;
    z-index: 2;
    text-align: center;
}

/**Footer**/

.footer {
	width: 100%;
	height: 332px;
	background: linear-gradient(to bottom, #747474 0%,#181818 100%);
	float: left;
}

.logo-vmo {
	margin-top: 20px;
}

.logo-vmo img {
	width: 15%;
}

.legendas-rodape, .legendas-rodape-2 {
	color: #fff;
    font-weight: 700;
    font-size: 0.9em;
    margin-top: 20px;
}

.legendas-rodape-2 {
    margin-left: 28px;

}

.list-rodape  {
	margin-top: 20px;
	margin-left: 0px;
	line-height: 1.5;
}


.list-rodape a {
	color: #fff;

}

.list-rodape-2 {
    margin-top: 20px;
    margin-left: 30px;
    line-height: 1.5;
}

.list-rodape-2 a {
    color: #fff;
}

.social-media img {
    margin-left: 34px;

}

/*Botão hamburger invisível por default*/
.header .botao-hamburger {
    display: none;
    color: white;
 }

/*Tablets*/

@media only screen and (min-width: 768px) and (max-width: 959px) {


.intro {
    margin-top: 126px
}


/*Main*/

   .menu-desktop a {
    font-size: 0.8em;

   }

   .intro {
    font-size: 2.0em;
  
}

   .introducao .intro {
 
    text-align: center;
    margin-top: 237px;
}

   .introducao .btn {
    
    margin: 52px 247px;
}


/* sobre*/

.icones-servicos img {
    width: 19%;
    float: left;
    margin-top: 0;
    z-index: 2;
}

.video {
    width: 350px;
    margin-top: 0px;

}

/* cits */

.thumb-cits {
    width: 97%;
}

.legendas-cis {
    font-size: 0.7em;
}


/* Roteiros */


.box-roteiro {
    padding: 12px;
    margin-left: 34px;
}

.lista-servicos .text {
    font-size: 0.8em;

}



/*footer*/ 

.footer .list-rodape {
    font-size: 0.8em;
}


.footer .list-rodape-2 {
    font-size: 0.8em;
}


}


/*Estilo para smartphone*/
@media only screen and (max-width: 767px) {

.container {
    overflow: hidden;
}


.menu-mobile {
    position: fixed;
    display: block;
    z-index: 30;
    height: 100vh;
    width: 50%;
    min-width: 250px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.menu-mobile ul {
    margin-top: 24px;
}

.menu-mobile li {
    margin-bottom: 18px;
}

.menu-mobile a {
    color: white;
    font-size: 20px;
    transition: 200ms;
}

.menu-mobile a:hover {
    color: #E3C94F;
}

.menu-mobile .menu-close {
    width: 40px;
    transition: 200ms;
}

.menu-mobile .menu-close:hover {
    cursor: pointer;
    opacity: 0.6;
}

 /*Nav Bar*/

 .header {
    padding: 14px 0;
 }

  .header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

 .header .botao-hamburger {
    display: inline;
    color: white;
    width: 40px;
    height: 40px;
    margin-right: auto;
    transition: 200ms;
 }

  .header .botao-hamburger:hover{
      cursor: pointer;
      opacity: 0.6;
  }

.logo {
    display: inline;
    width: 50px;
    height: 22px;
}

.logo img {
    margin: auto;
    display: inline;
    width: 100%;
}

.menu-desktop {
    display: none;
}

/*Main*/

.intro {
    font-size: 1.8em;
    margin-top: 80px;
  
}

.introducao {
    height: 550px;

}

.introducao .intro {
    text-align: center;
    margin-top: 237px;
}

.btn {
    width: 300px;
    margin-bottom: 54px
}

/* sobre */

.sobre {
    height: 2156px;
}

.servicos .intro {
    margin-top: 176px;
    text-align: center;
}

.lista-servicos {
    margin-top: 56px;
    z-index: 3;
    position: relative;
}

.margin-list {
    margin-left: 0px;
}

.list {
    width:220px;
    /*white-space: nowrap;*/
}

.legendas {
    font-size: 1.5em;
    margin-top: 38px;

} 

.icones-servicos img {
    width: 66px;
    float: left;
    margin-top: 13px;
}

.video {
    width: 300px;
    height: 169px;
}


/* cits */

.cits {
    height: 1211px;
}

.legendas-cits {
    font-size: 1em;
    float: right;
    width: 165px;
}

.thumb-cits {
    width: 38%;
    float: left;
    margin-top: 20px;
}

/* Roteiros */

.roteiros {
    height: 1234px;
}

.roteiros .intro {
    margin-bottom: 40px;

}

.legendas-roteiro {
    width: 161px;
    font-size: 0.8em;
}


.box-roteiro {
    padding: 12px;
    margin-left: 0px;
    margin-bottom: 40px;
}

.lista-servicos {
    margin-top: 0;
}

.lista-servicos .text {
    font-size: 0.8em;

}

/*Contato*/

.contato {
    height: 453px;
}

.text-tel {
    font-size: 1em;
}

.maps {
    display: none;
}


.text-maps {
    font-size: 1em;
    float: left;
}



/*footer*/ 

.footer {
    height: 590px;
}

.logo-vmo {
    text-align: center;
}

.logo-vmo img {
    width: 35%;
}

.legendas-rodape {
    text-align: center;
}    


.list-rodape {
    text-align: center;
}

.legendas-rodape-2 {
    text-align: center;
    margin-left: 0px;
}    

.list-rodape-2 {
    text-align: center;
    margin-left: 0px;
}

.footer .list-rodape {
    font-size: 0.8em;
}


.footer .list-rodape-2 {
    font-size: 0.8em;
}

.social-media img {
    margin-left: 0px;
}

.footer .text-maps {
    font-size: 0.7em;
    margin: 0px;

}

}

::-webkit-scrollbar {
    background-color: black;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #E3C94F;
}

/*Welcome Tomorrow*/

.welcome-tomorrow {
    background-color: #0e0119;
    background-image: url("../welcome-tomorrow/background-banner.png");
    object-fit: scale-down;
    padding: 180px 0;
    background-repeat: no-repeat;
    background-position-y: -60px;
    width: 100%;
}

.welcome-tomorrow .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.welcome-tomorrow .container .container-left {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    width: 100%;
}

.welcome-tomorrow .container .container-left img {
    margin-bottom: 24px;
    margin-top: 5px;
    width: 100%;
}

.welcome-tomorrow .container .container-left button {
    padding: 12px;
    transition: 200ms;
    background-color: #c93da5;
    color: white;
    border: none;
    width: 84%;
    border-radius: 24px;
    cursor: pointer;
    outline: none;
    font-family: Nunito;
    font-weight: 800;
}

.welcome-tomorrow .container .container-left button:hover {
    opacity: 0.7;
}

.welcome-tomorrow .container .container-right{
    height: 200px;
    display: flex;
    flex-direction: column;
}

.welcome-tomorrow .container .container-right h1 {
    margin-top: 40px;
    font-family: 'Nunito';
    font-weight: 800;
    color: white;
    font-size: 24px;
}

.welcome-tomorrow .container .container-right .logos{
    margin-top: 120px;
    text-align: right;
}

.welcome-tomorrow .container .container-right .logos img{
    margin-left: 32px;
    width: 35%;
}

.slider {
    overflow: hidden;
}

.slider .slide-left {
    left: 8px;
    position: absolute;
    z-index: 10;
    top: 300px;
    width: 40px;
    cursor: pointer;
}

.slider .slide-right {
    right: 8px;
    position: absolute;
    z-index: 10;
    top: 300px;
    width: 40px;
    cursor: pointer;
}

.overflow {
    position: relative;
    transition: 500ms;
    width: 500%;
    display: flex;
    transform: translateX(-100vw);
}

.overflow section {
    width: 100vw;
    height: 600px;
}

.patrocinio-section-1 {
    height: 540px;
    background-image: url("../welcome-tomorrow/landing-background-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.patrocinio-section-1 .container .content {
    background-color: #4b196d;
    padding: 70px 30px 10px 30px;
    display: flex;
    margin-top: 300px;
    align-items: center;
}

.patrocinio-section-1 .container .content .content-left {
    padding: 30px;
    width: 1800px;
}

.patrocinio-section-1 .container .content .content-left img{
    width: 100%;
}

.patrocinio-section-1 .container .content p {
    color: white;
    font-family: HelveticaNeue;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: 2px;
}

.patrocinio-section-1 .container .section-1-bottom{
    width: 100%;
}

.patrocinio-section-2 {
    background-color: #0e0119;
    padding-top: 380px;
}

.patrocinio-section-2 .container{
    text-align: center;
}

.patrocinio-section-2 .container h1{
    font-size: 38px;
    color: white;
    margin: 28px auto 78px;
    width: 670px;
}

.section-2-video {
    display: flex;
    align-items: center;
}

.section-2-video .img-container{
    margin-right: 40px;
    width: 1900px;
}

.section-2-video .img-container img{
    width: 100%;
}

.section-2-video video{
    width: 50%;
}

.section-2-description p{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 24px;
    margin: 60px 0;
    font-family: HelveticaNeue;
}

.section-2-download{
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}

.section-2-download .section-2-download-left{
    display: flex;
    flex-direction: column;
    margin-right: 92px;
}

.section-2-download .section-2-download-left button {
    padding: 10px 65px;
    margin: 8px;
    border-radius: 25px;
    border: solid;
    cursor: pointer;
    outline: none;
    font-family: HelveticaNeue;
    letter-spacing: 3px;
    width: 100%;
}

.section-2-download .section-2-download-left button.redirect{
    background-color: #c93da5;
    color: white;
    border-color: #c93da5;
    transition: 200ms;
}

.section-2-download .section-2-download-left button.redirect:hover{
    background-color: white;
    color:  #c93da5;
    border-color: white;
}

.section-2-download .section-2-download-left button.patron{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: #cc081d;
    transition: 200ms;
}

.section-2-download .section-2-download-left button.patron:hover{
    background-color: #cc081d;
    color: white;
    border-color: #cc081d;
}

.section-2-download .section-2-download-right img {
    width: 400px;
}

.patrocinio-section-3 {
    padding-top: 40px;
    background-color: #0e0119;
    width: 100%;
    padding-bottom: 80px;
}

.patrocinio-section-3 img {
    width: 100%;
}

.patrocinio-section-4 {
    background-image: url(../welcome-tomorrow/bgMarcas.png);
    display: flex;
    padding: 100px 240px 180px;
    flex-direction: column;
}

.patrocinio-section-4 h3 {
    font-size: 54px;
    font-weight: bold;
    color: #000000;
    padding: 55px 0 20px 105px;
    margin-bottom: 50px;
    background: url(../welcome-tomorrow/marcas.png)no-repeat 80%;
    background-position: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 109px;
}

.box {
    height: 200px;
    width: 200px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    margin-right: 50px;
}

.box img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}


.welcome-tomorrow-footer-logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 350px;
}

.welcome-tomorrow-footer-logos img{
    height: 60px;
}

.welcome-tomorrow-footer{
    background-color: #0e0119;
    background-image: url("../welcome-tomorrow/footer.png");
    height: 500px;
}

@media(max-width: 767px){

    .welcome-tomorrow .container{
        flex-direction: column;
        text-align: center;
    }

    .patrocinio-section-2 .container .wavy{
        width: 100%;
    }  

    .welcome-tomorrow .container .container-left{
        margin: auto;
    }

    .welcome-tomorrow .container .container-right h1{
        font-size: 16px;
    }

    .welcome-tomorrow .container .container-right .logos{
        margin: auto;
    }

    .patrocinio-section-1 .container .content{
        flex-direction: column;
        justify-content: center;
        margin-top: 200px;
    }

    .patrocinio-section-1 .container .content .content-left{
        width: auto;
    }

    .patrocinio-section-2 {
        padding-top: 460px;
    }

    .patrocinio-section-2 .container h1{
        font-size: 22px;
        margin-top: 48px;
        width: auto;
    }

    .section-2-video{
        flex-direction: column;
    }

    .section-2-video .img-container {
        width: 200px;
        margin: auto;
    }

    .section-2-video video {
        margin-top: 40px;
        width: 100%;
    }

    .section-2-download {
        flex-direction: column;
    }

    .section-2-download-left{
        margin: auto;
    }

    .section-2-download-left button{
        width: 150px;
    }

    .section-2-download .section-2-download-right a img{
        width: 100%;
        margin: 34px 0;
    }

    .welcome-tomorrow-footer-logos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        margin-top: 320px;
    }

    .welcome-tomorrow-footer-logos img{
        height: 28px;
    }

    .welcome-tomorrow-footer {
        height: 400px;
    }


    .patrocinio-section-4  {
        padding: 66px 0;
    }
    

    .patrocinio-section-4 h3 {
        font-size: 34px;
        text-align: center;        
        padding: 0;
        margin-bottom: 0;
        background-image: none;
    }

    .row {
    padding: 50px;
    flex-wrap: wrap;
    margin-left: 0;
    flex-direction: column;
    }

    .box {
        margin: 0 auto;
        margin-bottom: 44px;
    }

    .box:last-child {
        margin-bottom: 0;
    }
}

    