<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>VMO Turismo - Portfólio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="icon" href="img/vmo-favicon.gif" type="image/gif" sizes="32x32">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/portfolio.css">

</head>

<body>
	<%- include("../components/header.ejs") %>

	<!--Solucoes Turisticas-->
	<div class="bd-solucoes">
		<section class="solucoes-turisticas-sub">
			<div class="container">
				<h1 class="intro aligntext">Portfólio</h1>
				<p class="text aligntext">Entre os principais clientes da VMO estão a Prefeitura da Cidade de São Paulo,
					a Secretaria Municipal de Turismo, a Secretaria Municipal da Pessoa com Deficiência, a São Paulo
					Turismo e diversas instituições privadas que têm como foco a promoção do Turismo, sendo, também,
					associada ao São Paulo Convention Bureau, Fundação 25 de janeiro.</p>
			</div>
		</section>

		<section class="back-vmo">
			<div class="container">
				<ul>
					<li class="solucoes-box">
						<img class="port-img" src="img/edificio-matarazzo.jpg" alt="Edifício Matarazzo" />
						<h2 class="legendas">Visita Guiada ao Edifício Matarazzo</h2>
						<p class="text">O propósito do roteiro é aproximar a população do Governo Municipal e do
							patrimônio histórico da cidade.</p>
						<p class="text">O roteiro passa pelo piso térreo e pelo jardim na cobertura do prédio, onde há
							um mirante, com visão para o centro da cidade.</p>
					</li>
					<li class="solucoes-box">
						<img class="port-img" src="img/edificio-martinelli.jpg" alt="Edifício Martinelli" />
						<h2 class="legendas">Visita Guiada ao Edifício Martinelli</h2>
						<p class="text">O propósito do roteiro é aproximar a população do Governo Municipal e do
							patrimônio histórico da cidade.</p>
						<p class="text">O roteiro passa pelo piso térreo e pelo jardim na cobertura do prédio, onde há
							um mirante, com visão para o centro da cidade.</p>
					</li>
					<li class="solucoes-box">
						<img class="port-img" src="img/vem-pro-triangulo-sp.jpg" alt="Vem pro Triângulo SP" />
						<h2 class="legendas">Vem pro Triângulo SP</h2>
						<p class="text">O projeto tem como objetivo trazer pessoas de todas as regiões da cidade para
							conhecer os importantes marcos do Centro Histórico da cidade,
							impulsionando toda uma cadeia de negócios, movimentando, também, outros setores da economia
							e gerando novas oportunidades comerciais neste
							circuito turístico.</p>
						<p class="text"><span>Com um roteiro interessante e convidativo, com destino a importantes obras
								de São Paulo, o Vem pro Triângulo tem a proposta de movimentar o triângulo central,
								despertando consciência e sentimento de pertencimento aos visitantes paulistanos.</span>
						</p>
					</li>
					<li class="solucoes-box">
						<img class="port-img" src="img/lgbtqi+.jpg" alt="Turismo LGBTQI+" />
						<h2 class="legendas">Turismo LGBTQI+</h2>
						<p class="text">Como uma empresa pluralista e que se preocupa em expandir cada vez mais seus
							horizontes, tendo o turismo como ponto de partida, a VMO tem a consciência de que a
							segmentação do mercado deve ser vista sob uma perspectiva direcionada a cada público, a fim
							de que as necessidades sejam atendidas de forma assertiva adequada a cada grupo.</p>
					</li>
				</ul>
			</div>
			<a href="/"><button class="btn-center">Voltar para pagína principal</button></a>
		</section>
	</div>
	<!--Fim Solucoes Turisticas-->

	<!--Rodapé-->
	<%- include("../components/footer.ejs")  %>
</body>

</html>