<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>VMO Turismo - Roteiros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="img/vmo-favicon.gif" type="image/gif" sizes="32x32">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/grid.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/roteiros.css">

</head>

<body>
    <%- include("../components/header.ejs") %>

    <!--Roteiros-->
    <section class="roteiros-sub">
        <div class="container">
            <h1 class="intro aligntext">Roteiros Temáticos</h1>
            <p class="text aligntext">A dinâmica da cidade e seu processo de formação foi marcado pelos fluxos
                migratórios, onde destacam-se a imigração portuguesa, italiana, japonesa, africana e espanhola, além da
                migração interna, sobretudo advinda da região do nordeste brasileiro, havendo assim, uma integração
                cultural, tornando São Paulo uma cidade plural e diversa.</p>
            <p class="text aligntext">Com seus bens materiais e imateriais, patrimônios históricos, festas populares,
                manifestações artísticas, edifícios icônicos e rica gastronomia, o município oferece ao visitante e a
                própria população uma imensidão de opções, de acordo com cada perfil.</p>
        </div>
    </section>

    <section class="back-vmo">
        <div class="container">
            <h2 class="intro aligntext">Os roteiros foram preparados e vivênciados pelos nossos técnicos das CIT's</h2>
            <ul>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Arte Contemporânea</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-arte-contemporanea-vmo.jpg" alt="Roteiro Arte Contemporânea">
                    </div>
                    <p class="text">O roteiro é uma imersão na arte contemporânea presente em um dos bairros mais
                        descolados de São Paulo: a Vila Madalena...</p>
                    <a href="pdf/roteiros/roteiro-arte-contemporanea-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">O Bairro do Bom Retiro</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-bom-retiro-vmo.jpg" alt="Roteiro O Bairro do Bom Retiro">
                    </div>
                    <p class="text">Este guia pode ser feito em qualquer dia da semana e em qualquer horário, mas é
                        indicado que preferencialmente...</p>
                    <a href="pdf/roteiros/roteiro-bom-retiro-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Casas Modernistas</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-casas-modernistas-vmo.jpg" alt="Roteiro Casas Modernistas">
                    </div>
                    <p class="text">Este trabalho tem como objetivo um roteiro sobre Casas do Estilo Modernista,
                        localizado na Zona Sul da cidade de São Paulo...</p>
                    <a href="pdf/roteiros/roteiro-casas-modernistas-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Ecologico Infantil</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-ecologico-infantil-vmo.jpg" alt="Roteiro Ecologico Infantil">
                    </div>
                    <p class="text">O Parque Ecológico do Tietê foi inaugurado em 1982, e ocupa uma área de 14 milhões
                        de m2 nas margens do Rio Tietê...</p>
                    <a href="pdf/roteiros/roteiro-ecologico-infantil-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Ecossistemas e Vivência Ambiental</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-ecossistema-e-vivencia-ambiental-vmo.jpg"
                            alt="Roteiro Ecossistemas e Vivência Ambiental">
                    </div>
                    <p class="text">O roteiro Ecossistemas e Vivência Ambiental será realizado no Parque Natural
                        Municipal Bororé,...</p>
                    <a href="pdf/roteiros/roteiro-ecossistema-e-vivencia-ambiental-vmo.pdf" target="_blank"><button
                            class="btn">Baixar Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Futebol em SP</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-futebol-em-sp-vmo.jpg" alt="Roteiro Futebol em SP">
                    </div>
                    <p class="text">Foi em São Paulo, terra da garoa, que o futebol começou a se difundir e se tornar o
                        maior esporte do Brasil...</p>
                    <a href="pdf/roteiros/roteiro-futebol-em-sp-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Geek</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-geek-vmo.jpg" alt="Roteiro Geek">
                    </div>
                    <p class="text">São Paulo reúne as mais diversas nacionalidades, culturas e tribos urbanas. Duas
                        delas são a cultura nerd...</p>
                    <a href="pdf/roteiros/roteiro-geek-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">História do Brasil em São Paulo</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-historia-do-brasil-em-sao-paulo-vmo.jpg"
                            alt="Roteiro História do Brasil em São Paulo">
                    </div>
                    <p class="text">A História do Brasil começa no ano de 1.500 quando nosso território – que até então
                        era habitado por tribo...</p>
                    <a href="pdf/roteiros/roteiro-historia-do-brasil-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Mirante</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-mirantes-vmo.jpg" alt="Roteiro Mirante">
                    </div>
                    <p class="text">O mirante foi construído junto com o túnel que passa pela avenida 9 de Julho e ambos
                        foram inaugurados em 1938...</p>
                    <a href="pdf/roteiros/roteiro-mirantes-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Modernista com a Família Ohtake</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-modernista-com-familia-ohtake-vmo.jpg"
                            alt="Roteiro Modernista com a Família Ohtake">
                    </div>
                    <p class="text">Tomie Ohtake nasceu no dia 21 de novembro de 1913, em Kyoto, no Japão, onde iniciou
                        e concluiu seus estudos...</p>
                    <a href="pdf/roteiros/roteiro-modernista-com-familia-ohtake-vmo.pdf" target="_blank"><button
                            class="btn">Baixar Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Musicalizando SP</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-musicalizando-sp-vmo.jpg" alt="Roteiro Musicalizando SP">
                    </div>
                    <p class="text">Musicalizando Sp é um roteiro que possui 3 atrativos (Sala São Paulo, Galeria do
                        Rock e Centro de Tradições Nordestinas...</p>
                    <a href="pdf/roteiros/roteiro-musicalizando-sp-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Niemeyer</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-niemeyer-vmo.jpg" alt="Roteiro Niemeyer">
                    </div>
                    <p class="text">Projetado na década de 1950, o edifício inicialmente foi planejado para ocupar um
                        hotel. Como tempo, o projeto foi sendo alterado...</p>
                    <a href="pdf/roteiros/roteiro-niemeyer-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Nordeste em SP</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-nordeste-em-sp-vmo.jpg" alt="Roteiro Nordeste em SP">
                    </div>
                    <p class="text">O conjunto de lugares formado para o roteiro a seguir tem a finalidade de
                        proporcionar uma experiência nordestina...</p>
                    <a href="pdf/roteiros/roteiro-nordeste-em-sp-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Pôr do sol em São Paulo</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-por-do-sol-em-sao-paulo-vmo.jpg" alt="Roteiro Pôr do sol em São Paulo">
                    </div>
                    <p class="text">Considerada a 10ª maior cidade do mundo,São Paulo foi apelidada por muitos de “selva
                        de pedra” pela imensidão de concreto...</p>
                    <a href="pdf/roteiros/roteiro-por-do-sol-em-sao-paulo-vmo.pdf" target="_blank"><button
                            class="btn">Baixar Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Romântico de luxo na cidade de São Paulo</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-romantico-de-luxo-vmo.jpg" alt="Roteiro de luxo na cidade de São Paulo">
                    </div>
                    <p class="text">A cidade de São Paulo pode ser o cenário perfeito para um casal que quer curtir
                        momentos românticos...</p>
                    <a href="pdf/roteiros/roteiro-romantico-de-luxo-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Rua Gastronômica</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-rua-gastronomica-vmo.jpg" alt="Roteiro rua gastronômica">
                    </div>
                    <p class="text">Nas diferentes ruas e avenidas movimentadas de São Paulo, o tempero é cruzamento de
                        paulistanos, refugiados e imigrantes...</p>
                    <a href="pdf/roteiros/roteiro-rua-gastronomica-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">São Paulo um doce de cidade</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-são-paulo-doce-de-cidade-vmo.jpg"
                            alt="Roteiro São Paulo um doce de cidade">
                    </div>
                    <p class="text">Nas diferentes ruas e avenidas movimentadas de São Paulo, o tempero é cruzamento de
                        paulistano...</p>
                    <a href="pdf/roteiros/roteiro-são-paulo-doce-de-cidade-vmo.pdf" target="_blank"><button
                            class="btn">Baixar Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Skt & art</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-skt-&-art-vmo.jpg" alt="Roteiro skt & art">
                    </div>
                    <p class="text">O skate como esporte é um dos mais praticados do mundo e o Brasil tem muito a
                        oferecer para este universo e muito também...</p>
                    <a href="pdf/roteiros/roteiro-skt-&-art-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Descobrindo a Ásia em SP</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-descobrindo-a-asia-em-sp-vmo.jpg" alt="Roteiro Descobrindo a Ásia em SP">
                    </div>
                    <p class="text">Com este roteiro você tem a oportunidade de conhecer um pouco da cultura asiática,
                        especificamente dos países China, Japão...</p>
                    <a href="pdf/roteiros/roteiro-descobrindo-a-asia-em-sp-vmo.pdf" target="_blank"><button
                            class="btn">Baixar Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Rolê na ZL Mooca</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-role-na-zl-mooca-vmo.jpg" alt="Roteiro Rolê na ZL Mooca">
                    </div>
                    <p class="text">A zona leste de São Paulo é repleta de história, de amor, tem cara de casa, de lazer
                        e de trabalho. com a sua vasta quantidade...</p>
                    <a href="pdf/roteiros/roteiro-role-na-zl-mooca-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
                <li class="lista-servicos box-roteiro grid-5">
                    <h3 class="legendas-roteiro">Turismo em Casa</h3>
                    <div class="thumb-roteiro">
                        <img src="img/roteiro-turismo-em-casa-vmo.jpg" alt="Roteiro Turismo em Casa">
                    </div>
                    <p class="text">Um Roteiro com vários lugares para visitar virtualmente, dentro do conforto
                        de sua casa. Aproveite essa ...</p>
                    <a href="pdf/roteiros/roteiro-turismo-em-casa-vmo.pdf" target="_blank"><button class="btn">Baixar
                            Roteiro</button></a>
                </li>
            </ul>
        </div>
        <a href="/"><button class="btn-center">Voltar para pagína principal</button></a>
    </section>
    <!--Fim Roteiros-->

    <!--Rodapé-->
    <%- include("../components/footer.ejs")  %>
</body>

</html>