<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>VMO Turismo - Soluções Turísticas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="icon" href="img/vmo-favicon.gif" type="image/gif" sizes="32x32">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/solucoes-turisticas.css">

</head>

<body>
	<%- include("../components/header.ejs") %>

	<!--Solucoes Turisticas-->
	<div class="bd-solucoes">
		<section class="solucoes-turisticas-sub">
			<div class="container">
				<h1 class="intro aligntext">Soluções Turísticas</h1>
				<p class="text aligntext">Entre os principais clientes da VMO estão a Prefeitura da Cidade de São Paulo,
					a Secretaria Municipal de Turismo, a Secretaria Municipal da Pessoa com Deficiência, a São Paulo
					Turismo e diversas instituições privadas que têm como foco a promoção do Turismo, sendo, também,
					associada ao São Paulo Convention Bureau, Fundação 25 de janeiro.</p>
			</div>
		</section>

		<section class="back-vmo">
			<div class="container">
				<ul>
					<li class="solucoes-box">
						<img class="logo-sl" src="img/trade.svg" alt="Trade" />
						<h2 class="legendas">Desenvolvimento de Conteúdo para Trade</h2>
						<p class="text">A VMO é comprometida com o turismo da cidade de São Paulo e busca uma integração
							cada dia mais abrangente de todas as informações e como elas chegam ao consumidor final,
							seja turista ou morador local. Temos um time especializado, capacitado e inteirado de
							informações sobre uma extensa gama de atrativos turísticos e eventos culturais da cidade. Ao
							unir esses dois pontos, surge a necessidade de aprofundar a relação com o trade, que também
							recebe muitos turistas e é responsável por movimentar uma grande parcela da economia do
							setor.</p>
						<p class="text">A entrega de conteúdo para o trade é feita com base em uma permuta de serviços,
							onde um técnico especializado desenvolve textos e um compilado de imagens, baseados em
							vivências próprias sobre cada atrativo e objetiva a personalização do conteúdo para as
							mídias sociais do solicitante. A geração de conteúdo e a aproximação com o trade, gera uma
							maior integração de serviços que se comunicam na última fase de uma experiência turística,
							porém, não tão claramente no início do planejamento de uma viagem. Dessa forma, ampliamos o
							alcance do contato das Centrais de Informação Turística com o consumidor final para que ele
							tenha ciência de todo potencial de roteiro e passeios que a cidade oferece.</p>
						<p class="text">As permutas e parcerias podem ser feitas levando em consideração o modelo de
							negócios de cada local.</p>
						<ul class="list-interna">
							<li class="z">• Geração de conteúdo por um técnico especializado;</li>
							<li class="b">• Troca de informações e serviços que fomentem o turismo;</li>
							<li class="z">• Maior integração e reconhecimento dos atrativos turísticos com o local;</li>
							<li class="b">• Abastecimento de redes sociais e mídias, com conteúdo exclusivo e
								personalizado;</li>
							<li class="z">• Parcerias baseadas em permuta em prol do desenvolvimento do turismo.</li>
						</ul>
					</li>

					<li class="solucoes-box">
						<img class="logo-sl" src="img/guiamento.svg" alt="Guiamento" />
						<h2 class="legendas">Guiamentos</h2>
						<p class="text">Em nosso patrimônio intelectual e expertise, os guiamentos específicos constam
							como parte do processo que auxiliam ainda mais na promoção do turismo da cidade.
							Tendo como referência o projeto “Vem pro Triângulo SP”, iniciado no ano de 2019, pela
							Prefeitura Municipal de São Paulo, justifica-se toda a base informativa contida na
							organização nos temas turismo, geografia, história, valorização do patrimônio, preservação
							cultural e promoção dos valores intrínsecos nos temas dispostos.
							Nesses guiamentos, técnicos habilitados oferecem serviços que ajudam na valorização,
							informação e assimilação do cliente ou turista sobre tudo o que tange o tema.
							Patrimônios alocados no triângulo histórico da cidade como Catedral da Sé, Theatro
							Municipal, Edifício Martinelli, Mosteiro de São Bento, Largo São Francisco, Vale do
							Anhangabaú, Mercado Municipal e outros mais, fizeram parte desses guiamentos de cunhos
							patrimoniais, arquitetônicos, históricos, econômicos e pedagógicos.
						</p>
						<p class="text">Ao longo do ano de 2019, a VMO recebeu demandas de guiamentos específicos a
							serem realizados em nosso patrimônio onde se encontra a sede administrativa da Prefeitura de
							São Paulo. Desta forma, no Edifício Matarazzo foram realizados guiamentos para grupos
							diversos, tais como: crianças, adolescentes, estudantes de Arquitetura, Fotografia,
							Biologia, entre outros, de uma forma personalizada para cada grupo, área de interesse,
							linguagem adaptada para cada idade em formação e, também, com a possibilidade de desenvolver
							atividades para encerramento e amarração das ideias e história aprendida no decorrer da
							visita. Este modelo de visita leva o conceito de “out of school” onde é criado um ambiente
							educativo, com um formato informal ante o referencial de sala escolar que existe no
							imaginário das pessoas. Desta maneira, atinge-se uma comunicação mais assertiva e fora do
							padrão que exigirá maior atenção dos participantes para que se sintam envolvidos e possam
							absorver o conteúdo. O fator surpresa do guiamento desperta maior aderência e interesse de
							todos envolvidos, o que contribui para uma experiência que é elaborada de forma dual e
							transferencial, na qual todos podem agregar ao momento.</p>
						<ul class="list-interna">
							<li class="z">• Técnicos especializados para guiamentos;</li>
							<li class="b">• Guiamentos com conteúdo personalizado, de acordo com a demanda e necessidade
								do grupo;</li>
							<li class="z">• Atividades aplicadas com o intuito de reafirmar e mensurar o aprendizado (em
								casos pedagógicos);</li>
							<li class="b">• Conceito inovador para desenvolvimento e geração de interesse pelo segmento
								turístico em visitas escolares,
								com o intuito de formar visitantes que divulgam o atrativo com um olhar empoderado sobre
								a história;</li>
							<li class="z">• Case “Vem pro Triângulo SP”: o projeto piloto trouxe moradores de zonas mais
								afastadas da cidade para o centro
								histórico e permitiu despertar o sentimento de propriedade em visitantes que nunca
								tinham visitado essa localidade antes.
								Percebeu-se o encantamento em saber que o turismo pode ser feito de forma acessível e
								dentro da própria cidade, além de gerar
								um interesse contínuo em conhecer mais sobre a história do centro histórico e outros
								pontos turísticos.</li>
						</ul>
					</li>

					<li class="solucoes-box">
						<img class="logo-sl" src="img/monitoria.svg" alt="Monitoria" />
						<h2 class="legendas">Monitoria</h2>
						<p class="text">Atualmente, a VMO Turismo é responsável pelas visitas guiadas no Edifício
							Matarazzo, através da licitação das Centrais de Informação Turística de São Paulo,
							conquistada junto à SMTUR, no ano de 2018, assumindo a gestão no ano de 2019.
							As visitas guiadas e monitorias nas instituições culturais, parques e demais equipamentos
							turísticos, auxiliam na aproximação com o visitante e contribuem para que a população local
							e turistas entendam, de forma lúdica, o patrimônio histórico material/imaterial da cidade.
							Essa atividade pode ser considerada uma extensão do projeto pedagógico interno destes
							espaços, contribuindo com a melhoria da educação, impactando positivamente a sociedade,
							gerando sentimento de pertencimento e, consequentemente, alavancando a divulgação por meio
							das pessoas.</p>
						<ul class="list-interna">
							<li class="z">• Promoção dos espaços culturais;</li>
							<li class="b">• Ampliação da divulgação;</li>
							<li class="z">• Retorno para a sociedade;</li>
							<li class="b">• Linguagem direta.</li>
						</ul>
					</li>
					<li class="solucoes-box">
						<img class="logo-sl" src="img/pesquisa-turistica.svg" alt="Monitoria" />
						<h2 class="legendas">Pesquisas de Perfil de Demanda Turística</h2>
						<p class="text">O principal objetivo das pesquisas de demanda turística é identificar o perfil
							dos visitantes e suas expectativas. Este estudo contribui com a identificação do
							comportamento do turista no destino e nos equipamentos turísticos, bem como sua satisfação.
							Através dos fatores sociológicos e econômicos é possível mensurar informações sobre as
							viagens, avaliar os atrativos turísticos e o trade.
							Na etapa de análise de dados é possível captar informações fundamentais para o melhor
							planejamento da cidade ou instituição, colaborando com a melhoria nestes espaços. Além de
							descobrir novos perfis de consumidores, como por exemplo o surgimento de um novo perfil de
							turista, com diferentes necessidades e motivações, que vem se adaptando ao século XXI, ou
							seja, as pesquisas geram oportunidades de oferta de serviços e produtos turísticos.
							Sendo assim, as pesquisas são necessárias para o planejamento, tanto do setor público,
							quanto privado, pois os resultados gerados identificam o perfil dos potenciais clientes e
							auxiliam na tomada de decisão, sendo possível adequar os serviços oferecidos
							(infraestrutura, acessibilidade, linguagem, capacidade de carga, etc) e traçar o
							planejamento estratégico, otimizando recursos, melhorando o marketing turístico,
							compreendendo a satisfação do cliente e, consequentemente, posicionando-se corretamente no
							mercado, a partir da identificação do público-alvo.</p>
						<ul class="list-interna">
							<li class="z">• Identificação do público-alvo e suas necessidades;</li>
							<li class="b">• Análise de dados;</li>
							<li class="z">• Base para o planejamento estratégico;</li>
							<li class="b">• Melhoria nos resultados finais.</li>
						</ul>
					</li>
				</ul>
				<li class="solucoes-box">
					<img class="logo-sl" src="img/stop-over.svg" alt="Stopover" />
					<h2 class="legendas">Stopover</h2>
					<p class="text">O serviço de Stopover (recém-inaugurado) é uma forma de fortalecer o turismo no
						Estado de São Paulo. A iniciativa visa que os turistas aproveitem o período de suas conexões,
						deixando de ser um momento de espera, mas sim um momento prazeroso, onde todos poderão conhecer
						um pouco da cultura paulistana. Dessa forma, as companhias aéreas, oferecem a chamada conexão
						intermediária, com parada de no mínimo 12h e máximo 48h (sem custos adicionais), para que os
						viajantes aproveitem a região, sobretudo a capital.</p>
					<p class="text">Sendo assim, a VMO Turismo, com objetivo de tornar este curto tempo de viagem o mais
						proveitoso possível, realiza todo o processo organizacional, oferecendo, também, roteiros
						personalizados e profissionais especializados, adequando o tour de acordo com as preferências
						individuais ou coletivas. Levamos você para uma imersão na cidade e suas facetas, em passeios
						que valorizam a arte, a gastronomia e o entretenimento, para que possa sentir, de verdade, o que
						a capital da cultura oferece! Você poderá levar para casa não somente souvenirs, mas também
						experiências incríveis e um pouquinho de SP!</p>
					<ul class="list-interna">
						<li class="z">• Experiência;</li>
						<li class="b">• Interação e diversão;</li>
						<li class="z">• Conhecer a cidade com profissionais locais;</li>
						<li class="b">• Roteiros personalizados;</li>
						<li class="z">• Atendimento especial.</li>
					</ul>
				</li>
				</ul>
			</div>
			<a href="/"><button class="btn-center">Voltar para pagína principal</button></a>
		</section>
	</div>
	<!--Fim Solucoes Turisticas-->

	<!--Rodapé-->
	<%- include("../components/footer.ejs")  %>
</body>

</html>