<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<title>VMO Turismo - Valores</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="icon" href="img/vmo-favicon.gif" type="image/gif" sizes="32x32">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/valores.css">

</head>

<body>
	<%- include("../components/header.ejs") %>

	<section class="valores">
		<div class="container">
			<h1 class="intro aligntext">Carta de Valores</h1>
		</div>
	</section>
	<section class="back-vmo">
		<div class="container">
			<h2 class="title-val aligntext">Nosso Propósito</h2>
			<p class="text aligntext">Contribuir com a sociedade por meio das nossas realizações, com transparência e
				cuidado,<br> gerando significado nas pessoas para um mundo melhor.
			<h2 class="title-val aligntext">Os Valores</h2>
			<p class="text aligntext spacing">Integridade Comprometimento Alegria Humildade Prosperidade
			<h2 class="title-val aligntext">Os Verbos</h2>
			<p class="text aligntext spacing">Conhecer Cuidar Fomentar Transformar
			<h3 class="title-val aligntext">Comunicar</h3>
			<a href="/"><button class="btn-center">Voltar para pagína principal</button></a>

		</div>
	</section>

	<!--Rodapé-->
	<%- include("../components/footer.ejs")  %>
	<script src="js/main.js"></script>
</body>

</html>