<footer class="footer">
    <div class="container">
        <h1 class="logo-vmo"><img src="img/vmo-logo.svg" alt="VMO Logo"></h1>
        <div class="grid-8">
            <h2 class="legendas-rodape">Soluções para o turismo</h2>
            <nav>
                <ul class="list-rodape grid-4">
                    <li><a href="#">Trade</a></li>
                    <li><a href="#">Stopover</a></li>
                    <li><a href="#">Press Trip</a></li>
                    <li><a href="/roteiros">Roteiros Temáticos</a></li>
                </ul>
                <ul class="list-rodape grid-4">
                    <li><a href="#">Monitoria</a></li>
                    <li><a href="#">Guiamento</a></li>
                    <li><a href="#">Pesquisa de Demanda</a></li>
                    <li><a href="#">Pesquisa de Atendimento</a></li>
                </ul>
            </nav>
        </div>
        <div class="grid-4">
            <h3 class="legendas-rodape-2">Cits</h3>
            <nav>
                <ul class="list-rodape-2">
                    <li><a href="/cits">Paulista</a></li>
                    <li><a href="/cits">Tietê</a></li>
                    <li><a href="/cits">República</a></li>
                    <li><a href="/cits">Congonhas</a></li>
                    <li><a href="/cits">PAT - Ecoturismo</a></li>
                </ul>
            </nav>
        </div>
        <div class="social-media grid-4">
            <h3 class="legendas-rodape-2">Mídias Sociais</h3>
            <ul class="list-rodape-2">
                <li><a href="https://www.instagram.com/vmoturismo/" target="_blank"><img src="img/instagram.png"
                            alt="Instagram VMO"></a></li>
            </ul>
        </div>
        <p class="text-maps grid-16">© 2020 - Por VMO Turismo e Eventos. ADAPTE-SE</p>
    </div>
</footer>