<header class="header">
    <div class="container">
        <a href="index.html" class="logo"><img src="img/logo.svg" alt="Logo" /></a>
        <nav class="menu">
            <ul>
                <li><a href="/">Sobre</a></li>
                <li><a href="/solucoes-turisticas">Soluções Túristicas</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/portfolio">Portfólio</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="https://www.vmoeventos.com.br/experiencia-turistica" target="_blank">Experiências</a>
                </li>
            </ul>
        </nav>
    </div>
</header>